<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Project for Colin</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Add a Movie</h1>
        <form action="/addmovie" method="POST">
            <input type="text" name="title" id="title" placeholder="title">
            <input type="text" name="rating" id="rating" placeholder="rating">
            <input type="text" name="synopsis" id="synopsis" placeholder="synopsis">
            <input type="text" name="release_year" id="release_year" placeholder="release year">
            <input type="text" name="genre" id="genre" placeholder="genre">
            <br>
            <button type ="submit">Add to Database</button>
        </form>
    </body>
</html>